name: Dry-Run Release
on:
  pull_request:

jobs:
  lint-commits:
    name: Lint PR commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@b948419dd99f3fd78a6548d48f94e3df7f6bf3ed # v6

  test-release:
    name: Dry-run semantic-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Checkout branch
        # Pretend to semantic-release that the PR result is eligible for
        # building releases because --dry-run still filters for configured
        # branches.
        run: git checkout -b main
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: '.nvmrc'
      - name: Cache Node packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v4
        with:
          path: node_modules
          key: release-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Dry-run release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        # We need to convince semantic-release to not pick up some
        # configuration from the CI environment by removing the variable that
        # is used for CI detection.
        run: unset GITHUB_ACTIONS && npx semantic-release --dry-run --ci false
